<%-include("header")-%>    

    <form action="/" method="post">
        <div class="row">
            <div class="col-lg-6 left">
                <div class="card cl">
                    <div class="le">
                        <h1 class="heading">KEEP NOTES</h1>
                        <p class="quote">“You don’t start out writing good stuff. You start out writing crap and thinking it’s good stuff, and then gradually you get better at it.

                            That’s why I say one of the most valuable traits is persistence.”
                            
                            ― Octavia E. Butler</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 left">
                <div class="card cr">
                    <img class="loginImg" src="CSS/Register.png" alt="">
                    <h1 style="margin: 2% auto;color: black;font-family: 'McLaren', cursive">Sign IN</h1>
                    <input type="email" placeholder="Email" name="lemail" autocomplete="off" class="email enter">
                    <br>
                    <input type="password" placeholder="Password" name="lpassword" class="password enter">
                    <br>
                    <button type="submit" class="btn btn-outline-dark">Login</button>
                    <br>
                    <span>Don't have an account? <a style="color: #EAEAEA" href="/register">Register</a></span>
                </div>
            </div>
        </div>
    </form>   
    
<%-include("footer")-%>    
